body{
    background-color: #161d29;
    font-family:'Lato', sans-serif;
    font-size: 62.5%;
    }
    .tituloinicio{
        font-family:'Kaushan Script', cursive;
        font-size: 2rem;
        color: #ffffff;
        text-align: center;
        }
h1{
    margin: 15px;

}
h3{
  font-weight: lighter;
}
h4{
    font-family:'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #ffffff;
    text-align: center;
}
p{
    color: #ffffff;
    font-family:'Lato', sans-serif;
    font-size: 1.25rem;
    text-align:center;
    margin: 30px;
    line-height: 30px;
}
.imglogo{
    width: 11rem;
    padding: 1px 20px;
}
nav ul li a{
    color:#ffffff;
    font-size: 1rem;
    text-decoration: none;
    font-family:'Kaushan Script', cursive;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 70px 30px;
    border: #ffffff; 1px; solidcolor
}

nav{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}
.banner{
width: 80%;
margin: 20px;
padding: 20px 100px;}

.iconos img{
    width: 18rem;
}
.iconos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 70px 30px;

}
.iconos ul{
    color:#ffffff;
    font-size: 1.25rem;
    font-family:'Kaushan Script', cursive;
    font-weight: lighter;
    text-decoration: none;
    list-style:disc;    
    text-align:left;
    line-height: 25px;
}
.preguntas h2{
    color:#ffffff;
    font-size: 1.50rem;
    font-family:'Kaushan Script', cursive;
    font-weight: lighter;
    text-align: center;
    }
.preguntas h4{
    font-family:'Lato', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
}
.preguntas p{
    color: #ffffff;
    font-family:'Lato', sans-serif;
    font-size: 1rem;
    text-align:center;
    font-style: italic;
    font-weight: lighter;
    }
.imglogofooter{
    width: 7rem;
    padding: 10px;
    margin: 30px;
}
.footer ul li{
    display: inline-block;
    margin: 80px;
    padding: 10px;
    color: #ffffff;
}
/*PAGINA PACK DE CLASES*/  

.packdeclases img{
    width: 50%; 
}
 .packdeclases{
    display: grid;
    grid-template-areas:
    "imgpack1     textopack1"
    "textopack2   imgpack2"
    "imgpack3     textopack3";

    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 40% 40%;
    justify-content: center;
}

.imgpack1{
    grid-area: imgpack1;
    margin: 1px 100px;
}
.textopack1{
    grid-area: textopack1;
    align-self:center;
    font-size: 1rem;
}
.imgpack2{
    grid-area: imgpack2;
    margin: 1px 100px;
}
.textopack2{
    grid-area: textopack2;
    align-self: center;
    font-size: 1rem;
}
.imgpack3{
    grid-area: imgpack3;
    margin: 1px 100px;
}
.textopack3{
    grid-area: textopack3;
    align-self: center;
    font-size: 1rem;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content:space-around;
    margin: 50px 10px 
}
/*medias queries*/

@media only screen and (max-width:500px){
.tituloinicio{
    font-size: 1.25rem;
}
h4{
    font-size: 1.15rem;
}
p{
    font-size: 1rem;
}
.banner{
    padding: 10px;
}
.packdeclases{
    grid-template-areas:
    "imgpack1"
    "textopack1"
    "imgpack2"
    "textopack2"
    "imgpack3"
    "textopack3";
grid-template-rows: repeat(80px);
grid-template-columns: 80%;
}
.packdeclases img{
    margin: 10px 60px;
}       
}