body{
    background-color: #161d29;
    font-family:'Lato', sans-serif;
    font-size: 62.5%;
    }
    .tituloinicio{
        font-family:'Kaushan Script', cursive;
        font-size: 2rem;
        color: #ffffff;
        text-align: center;
        }
h1{
    margin: 15px;
}
h3{
 margin:1px 100px 100px 100px;
 font-weight: lighter;
}
h4{
    font-family:'Lato', sans-serif;
    font-size: 1.30rem;
    color: #ffffff;
    text-align: center;
}
p{
    color: #ffffff;
    font-family:'Lato', sans-serif;
    font-size: 1.15rem;
    text-align:center;
    line-height: 30px;
    margin: 40px 120px;
}
.imglogo{
    width: 11rem;
    padding: 1px 20px;
}
nav ul li a{
    color:#ffffff;
    font-size: 1rem;
    text-decoration: none;
    font-family:'Kaushan Script', cursive;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 70px 30px;
    border: #ffffff; 1px; solidcolor
}

nav{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}
.banner{
width: 30rem;
padding: 2px 450px;}

.iconos img{
    width: 20rem;
}
.iconos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 70px 30px;

}
.iconos ul{
    color:#ffffff;
    font-size: 1rem;
    font-family:'Kaushan Script', cursive;
    font-weight: lighter;
    text-decoration: none;
    list-style:disc;    
    text-align:left;
line-height: 25px;
}
.preguntas h2{
    color:#ffffff;
    font-size: 1.75rem;
    font-family:'Kaushan Script', cursive;
    font-weight: lighter;
    text-align: left;
margin: 30px;
}
.preguntas h4{
    font-family:'Lato', sans-serif;
    font-size: 1.20rem;
    color: #ffffff;
    text-align: left;
    margin: 30px;
}
.preguntas p{
    color: #ffffff;
    font-family:'Lato', sans-serif;
    font-size: 1rem;
    text-align:left;
    font-style: italic;
    margin:30px ;
}
.imglogofooter{
    width: 7rem;
    padding: 10px;
    margin: 30px;
}
.footer ul li{
    display: inline-block;
    margin: 80px;
    padding: 10px;
    color: #ffffff;
}
/*PAGINA PACK DE CLASES*/
 .packdeclases img{
    width: 18rem;
 }
 .packdeclases{
    display: grid;
    grid-template-rows: 300px 200px 100px;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
    "imgpack1    imgpack2    imgpack3"
    "textopack1  textopack2  textopack3"
    "button1     button2     button3 "
}
.imgpack1{
    grid-area:"imgpack1";
}
.imgpack2{
    grid-area: "imgpack2";
}
.imgpack3{
    grid-area: "imgpack3";
}
.textopack1{
    grid-area: "textopack1";
}
.textopack2{
    grid-area: "textopack2";
}
.textopack3{
    grid-area: "textopack3";
}
.button1{
    grid-area: "button1";
}
.button2{
    grid-area: "button2";
}
.button3{
    grid-area: "button3";
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content:space-around
}
