
.imglogofooter{
    width: 7rem;
    padding: 10px;
    margin: 30px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content:space-around;
    margin: 50px 10px 
}
.footer ul li{
    display: inline-block;
    margin: 80px;
    padding: 10px;
    color: $letrablanco;
} 
ul li:hover{
    color:$letraverde;
}
@media only screen and (max-width: 500px){
  .imglogofooter{
    margin-left: 80px;
    width: 50%;
  }
    .footer{
        flex-direction: column;
        justify-content: center;
        align-content: center;
    ul li{
        margin:10px;
    }
    }
} 


